/* Tailwind CSS */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
  background-color: white;
  color: black;
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: screen;
  max-height: screen;
  height: screen;
  width: screen;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:root.dark {
  color: white;
  background-color: black;
}

#header-nav {
  animation: blur linear both 0.5s;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@keyframes blur {
  to {
    backdrop-filter: blur(20px);
    border-width: 1px;
    border-color: rgba(0, 0, 0);
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-radius: 9999px;
  }
}

.flip {
  transform: rotateY(360deg);
  transition: all 3s ease;
}